<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <title>Who The Fuck Should I Watch at Coachella?</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <div id="fb-root"></div>
  <meta property="og:title" content="Who The Fuck Should I Watch at Coachella??" />
  <meta property="og:description"content="Too many Coachella artists to choose from. HELP."/>
  <meta property="og:image" content=<%= image_url("thumbnail.png") %> />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= render 'layouts/header' %>
<div class="container">
  <%= yield %>
</div>
<%= render 'layouts/footer' %>

</body>
</html>
