<!DOCTYPE html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<html>
<head>
  <title>My Coachella Playlist</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta property="og:image" content="assets/favicon.ico" />
  <meta property="og:title" content="Which Coachella Artist Should I Listen To?" />
  <meta property="og:description"content="Give me the goods."/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= yield %>

</body>
</html>
